*{
    margin: 0;
    padding: 0; 
    font-family: Arial;
    border: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(44, 38, 56);
}

#Image-Block{
    height: 96vh; 
    width: 62vw;
    background-color: blue;
    margin-top: 2vh;
    margin-left: 2vh; 
    margin-Right: 3vh; 
    box-shadow: 10px 0 15px -2px black;
    background-image: url('College.png'); 
    background-position: center; 
    background-size: cover; 
    display: inline-block; 
}

#Info-Block{
    vertical-align: Top;
    height: 96vh; 
    width: 33vw;
    margin-top: 2vh;
    margin-left: 2vh; 
    display: inline-block;
}

#Recovery{
    color:white;
    font-size: 2em;
    font-weight: Bold;
    margin-top: 30vh;
    margin-left: 5vh;
    margin-bottom: 4vh;
}

#Verify-Row {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    margin-left: 5vh;
}

#VerifyIcon {
    height: 4vh;
    width: 4vh;
    object-fit: contain;
    margin-right: 1.5vh;
}

#VerifyText {
    color: white;
    font-size: 3vh;
    font-weight: bold;
}

#Password-Row {
    margin-top: 2vh;
    margin-left: 5vh;
    margin-bottom: 1vh;
}

#Password {
    display: inline-block; 
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(217,217,217);
    margin-right: 10.7vh;
    margin-top: 0.8vh;
}

#PasswordField {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 37vh;
    height: 4.5vh;
}

#PasswordField input {
    font-size: 2vh;
    height: 100%;
    width: 100%;
    background-color: rgb(60, 54, 76);
    border-radius: 1vh;
    color: white;
    padding-left: 2vh;
    padding-right: 5vh;
    border: none;
    box-sizing: border-box;
}

#PasswordField input::placeholder {
    color: #aaa;
}

#toggle-password {
    position: absolute;
    right: 1.2vh;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 2.5vh;
    width: 2.5vh;
    z-index: 2;
}

#toggle-password img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(85%);
}

#PasswordField input:focus {
    outline: none;
    border: 1px solid white;
}

#PasswordField input:hover {
    border: 1px solid white;
}

#RePassword-Row {
    margin-top: 2vh;
    margin-left: 5vh;
}

#RePassword {
    display: inline-block; 
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(217,217,217);
    margin-right: 1.3vh;
    margin-top: 0.8vh;
}

#RePasswordField {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 37vh;
    height: 4.5vh;
}

#RePasswordField input {
    font-size: 2vh;
    height: 100%;
    width: 100%;
    background-color: rgb(60, 54, 76);
    border-radius: 1vh;
    color: white;
    padding-left: 2vh;
    padding-right: 5vh;
    border: none;
    box-sizing: border-box;
}

#RePasswordField input::placeholder {
    color: #aaa;
}

#toggle-repassword {
    position: absolute;
    right: 1.2vh;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 2.5vh;
    width: 2.5vh;
    z-index: 2;
}

#toggle-repassword img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(85%);
}

#RePasswordField input:focus {
    outline: none;
    border: 1px solid white;
}

#RePasswordField input:hover {
    border: 1px solid white;
}

#Confirm-Button {
    font-size: 2vh;
    font-weight:600;
    background-color: rgb(109, 84, 181);
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5vh;
    margin-top: 4vh;
    width: 58.4vh;
    display: block;
}

#Confirm-Button:hover {
    background-color: rgb(89, 64, 161); /* deeper shade */
}

#BackButtonContainer {
    display: inline-block;
    margin-left: 2vh;
    margin-top: 2vh;
}

#BackButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    margin-top: 25vh;
    margin-left: 61vh;
}

#BackButton img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}