*{
    margin: 0;
    padding: 0; 
    font-family: Arial;
    border: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(44, 38, 56);
}

#Menu{
    height: 96vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 2vh;
    background-color: rgba(56,51,68.85);
    box-shadow: 5px 5px 10px black;
    display: inline-block;
}

#Home-Link {
    display: inline-block;
    text-decoration: none;
}

#Home-Button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 1vh;
    cursor: pointer;
    height: 7vh;
    width: 7vh;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5.5vh;
    margin-top: 5vh;
}

#Home-Button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* subtle hover effect */
}

#Home-Button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(85%);
}

#Profile-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin-left: 4.8vh;
    margin-top:10vh;
    height: 5.5vh;
    width: 32vh;
}

#Profile-Button:hover {
    background-color: rgb(81, 67, 122);
}

#Profile-Button img {
    height: 3.5vh;
    width: 3.5vh;
    margin-right: 2vh;
    object-fit: contain;
    filter: brightness(85%);
}

#Profile-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}

#Course-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    padding-left:1.5vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin-left: 4.8vh;
    margin-top:10vh;
    height: 5.5vh;
    width: 32vh;
}

#Course-Button:hover {
    background-color: rgb(81, 67, 122);
}

#Course-Button img {
    height: 4,5vh;
    width: 4.5vh;
    margin-right: 1.5vh;
    object-fit: contain;
    filter: brightness(85%);
}

#Course-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 4.8vh;
    margin-top: 2vh;
}

/* Advising Button (Trigger) */
#Advising-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    padding-left: 2.5vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    height: 5.5vh;
    width: 32vh;
}

.dropdown:hover #Advising-Button {
    background-color: rgb(81, 67, 122);
}

#Advising-Button img {
    height: 3vh;
    width: 3vh;
    margin-right: 2vh;
    object-fit: contain;
    filter: brightness(85%);
}

#Advising-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}

/* Dropdown options container */
.dropdown-content {
    display: none;
    position: absolute;
    top: 6vh;
    left: 0;
    background-color: rgb(96,92,105);
    border-radius: 1vh;
    min-width: 32vh;
    z-index: 100;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
    padding: 1vh 0;
}

/* Individual option */
.dropdown-option {
    display: flex;
    align-items: center;
    padding: 1vh 2vh;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-option img {
    height: 4vh;
    width: 4vh;
    margin-right: 1.5vh;
    object-fit: contain;
    filter: brightness(85%);
}

.dropdown-option span {
    color: rgb(140,137,147);
    font-size: 2.3vh;
    font-weight: 500;
}

/* Hover effect for options */
.dropdown-option:hover {
    background-color: rgb(140,137,147);
}

.dropdown-option:hover span {
    color: white;
}

/* Show dropdown when .active class is added by JS */
.dropdown.active .dropdown-content {
    display: block;
}


#registration img {
    height: 5vh;
    width: 5vh;
    margin-left: -0.5vh;
    margin-right: 1vh;
}

#offered img {
    height: 3.5vh;
    width: 3.5vh;
    margin-left: 0.3vh;
    margin-right: 1.7vh;
}

#request img {
    height: 3.1vh;
    width: 3.1vh;
    margin-left: 0.3vh;
    margin-right: 2.1vh;
}

#schedule img {
    height: 3.5vh;
    width: 3vh;
    margin-left: 0.3vh;
    margin-right: 2.2vh;
}

#Payment-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin-left: 4.8vh;
    margin-top:2vh;
    height: 5.5vh;
    width: 32vh;
}

#Payment-Button:hover {
    background-color: rgb(81, 67, 122);
}

#Payment-Button img {
    height: 3.5vh;
    width: 3.5vh;
    margin-right: 2vh;
    object-fit: contain;
    filter: brightness(85%);
}

#Payment-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}

#Question-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin-left: 4.8vh;
    margin-top:2vh;
    height: 5.5vh;
    width: 32vh;
}

#Question-Button:hover {
    background-color: rgb(81, 67, 122);
}

#Question-Button img {
    height: 3.5vh;
    width: 3.5vh;
    margin-right: 2vh;
    object-fit: contain;
    filter: brightness(85%);
}

#Question-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}

#LogOut-Button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
    margin-left: 4.8vh;
    margin-top:52vh;
    height: 5.5vh;
    width: 32vh;
}

#LogOut-Button:hover {
    background-color: rgb(81, 67, 122);
}

#LogOut-Button img {
    height: 3.5vh;
    width: 3.5vh;
    margin-right: 2vh;
    object-fit: contain;
    filter: brightness(85%);
}

#LogOut-Button span {
    color: rgb(217,217,217);
    font-size: 2.5vh;
    font-weight: 500;
}