*{
    margin: 0;
    padding: 0; 
    font-family: Arial;
    border: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(44, 38, 56);
}

#Image-Block{
    height: 96vh; 
    width: 62vw;
    background-color: blue;
    margin-top: 2vh;
    margin-left: 2vh; 
    margin-Right: 3vh; 
    box-shadow: 10px 0 15px -2px black;
    background-image: url('College.png'); 
    background-position: center; 
    background-size: cover; 
    display: inline-block; 
}

#Info-Block{
    vertical-align: Top;
    height: 96vh; 
    width: 33vw;
    margin-top: 2vh;
    margin-left: 2vh; 
    display: inline-block;
}

#Recovery{
    color:white;
    font-size: 2em;
    font-weight: Bold;
    margin-top: 30vh;
    margin-left: 5vh;
    margin-bottom: 4vh;
}

#UserIDField {
    vertical-align: top;
    display: inline-block;
}

#UserIDField input {
    font-size: 2vh;
    height: 4.5vh;
    width: 47vh;
    background-color: rgb(60, 54, 76);
    border-radius: 1vh;
    color: white;
    padding-left: 2vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
}

#UserIDField input::placeholder {
    color: #aaa;
    padding-left: 0vh;
    vertical-align: center;
}

#UserIDField input:focus{
    outline: none;
    border: 1px solid white;
}

#UserIDField input:hover {
    border: 1px solid white;
}

#IdentityField {
    vertical-align: top;
    display: inline-block;
}

#IdentityField input {
    font-size: 2vh;
    height: 4.5vh;
    width: 47vh;
    background-color: rgb(60, 54, 76);
    border-radius: 1vh;
    color: white;
    padding-left: 2vh;
    margin-left: 5vh;
}

#IdentityField input::placeholder {
    color: #aaa;
    padding-left: 0vh;
    vertical-align: center;
}

#IdentityField input:focus{
    outline: none;
    border: 1px solid white;
}

#IdentityField input:hover {
    border: 1px solid white;
}

#Verify-Button {
    font-size: 2vh;
    font-weight:600;
    background-color: rgb(109, 84, 181);
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5vh;
    margin-top: 4vh;
    width: 47vh;
    display: block;
}

#Verify-Button:hover {
    background-color: rgb(89, 64, 161); /* deeper shade */
}

#BackButtonContainer {
    display: inline-block;
    margin-left: 2vh;
    margin-top: 2vh;
}

#BackButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
    margin-top: 29vh;
    margin-left: 62vh;
}

#BackButton img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}